.MetricList {
    margin: 1rem;
    padding: 0 0 0 0.5rem;
}

ul.Tree {
    list-style-type: none;
    padding-left: 0;
}

.TreeNode {
    list-style-type: none;
}

.TreeLabel {
    position: relative;
    padding-left: 1rem;
    appearance: none;
    font-weight: bold;
    font-family: monospace;
    border: none;
    background-color: transparent;
}

.Expandable .TreeLabel {
    cursor: pointer;
}

.Expandable .TreeLabel:hover {
    text-decoration: underline;
}

.MetricType {
    margin-right: 0.25rem;
    font-weight: normal;
    color: white;
    background: darkgray;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
}

.MetricType.gau {
    background: #e70000;
}

.MetricType.ctr {
    background: #6262ff;
}

.MetricType.sum {
    background: darkgreen;
}

.MetricType.his {
    background: #db7900;
}

.MetricCount {
    color: gray;
    font-weight: normal;
    font-style: italic;
}

.MetricValueItem {
    font-weight: normal;
    font-family: monospace;
    display: inline-flex;
    gap: 0.5rem;
}

.LabelDisplay {
    color: gray;
}

.LabelKey {
    color: green;
    font-weight: bold;
}

.LabelValue {
    font-style: italic;
    color: #db7900;
}

.Chevron {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 6px;

    display: inline-block;

    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid black;

    margin-right: 0.25rem;
    transition: 0.2s transform;
}

.ChevronOpen {
    transform: rotate(90deg);
}

.ValueWithUnit {
    font-style: italic;
    color: #d100d1;
    cursor: alias;
}

.ValueWithUnit.Original {
    color: gray;
}

.Tooltip {
    background: rgb(252, 252, 252);
    border: 1px solid black;
    padding: 0.25rem;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999;
    text-align: left;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.Tooltip.Visible {
    display: block;
}
