.MetricList {
    margin: 1rem;
    padding: 0;
}

.MetricItem {
    list-style-type: none;
}

.MetricItem > button {
    appearance: none;
    font-weight: bold;
    font-family: monospace;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.MetricItem > button:hover {
    text-decoration: underline;
}

.MetricCount {
    margin-left: 1rem;
    color: gray;
    font-weight: normal;
    font-style: italic;
}

.MetricValueItem {
    font-family: monospace;
}

.LabelDisplay {
    color: gray;
}

.LabelKey {
    color: green;
    font-weight: bold;
}

.LabelValue {
    font-style: italic;
    color: orange;
}

.Chevron {
    width: 0;
    height: 0;

    display: inline-block;

    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid black;

    margin-right: 0.25rem;
    transition: 0.2s transform;
}

.ChevronOpen {
    transform: rotate(90deg);
}
